$brand_primary : #00C3A5;
$brand_hover : #00d3b3;
$brand_hover_ligth: #00d3b34f;
$brand_text: #014b40

// I margin per tenere bene sopra l'header sono 120px e 70px, 120px è il default mentre 70px e da 
// inserire in una media query a max 992px